################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsaTecSystem/Back-end/.vs
/MsaTecSystem/Back-end/src/.vs/MsatecSys
/MsaTecSystem/Back-end/src/MsaTec.Abstractions/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Abstractions/obj/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Abstractions/obj
/MsaTecSystem/Back-end/src/MsaTec.Abstractions.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Abstractions.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.Application/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Application/obj
/MsaTecSystem/Back-end/src/MsaTec.Application.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Application.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.ApplicationTests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.ApplicationTests/obj
/MsaTecSystem/Back-end/src/MsaTec.Architecture.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Architecture.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.Core/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Core/obj
/MsaTecSystem/Back-end/src/MsaTec.Core.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Core.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.DAL/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.DAL/obj
/MsaTecSystem/Back-end/src/MsaTec.DAL.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.DAL.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.Hubs/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Hubs/obj
/MsaTecSystem/Back-end/src/MsaTec.IoC/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.IoC/obj
/MsaTecSystem/Back-end/src/MsaTec.IoC.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.IoC.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.Model/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Model/obj
/MsaTecSystem/Back-end/src/MsaTec.Model.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Model.Tests/obj
/MsaTecSystem/Back-end/src/MsaTec.Presentation.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTec.Presentation.Tests/obj
/MsaTecSystem/Back-end/src/MsaTecWebApi/bin/Debug/net7.0
/MsaTecSystem/Back-end/src/MsaTecWebApi/obj
/MsaTecSystem/Back-end/src/MsaTecWebApi/Properties
/MsaTecSystem/Back-end/src/MsaTecWebApi/appsettings.Development.json
/MsaTecSystem/Back-end/src/.vs/ProjectEvaluation
/MsaTecSystem/Back-end/src/MsaTec.Core/ExceptionExtensionsShopMix.cs
/MsaTecSystem/Back-end/Tests/MsaTec.Abstractions.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Abstractions.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.Application.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Application.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.ApplicationTests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.ApplicationTests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.Architecture.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.Architecture.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Core.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Core.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.DAL.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.DAL.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.IoC.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.IoC.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.Model.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Model.Tests/obj
/MsaTecSystem/Back-end/Tests/MsaTec.Presentation.Tests/bin/Debug/net7.0
/MsaTecSystem/Back-end/Tests/MsaTec.Presentation.Tests/obj
