<div class="container" style="margin-top: 60px;">
    <h1>Home works!</h1>
    <!-- <h1>{{title}}</h1> -->
    <div class="row">
        <div class="col-lm-12">
            <ul class="listClientes">
                <li *ngFor="let cliente of clienteList" class="listItem">
                    <div class="cardWrapper">
                        <div class="cardClienteForList">
                            <h2>{{ cliente.nome }}</h2>
                            <p><strong>Email:</strong> {{ cliente.email }}</p>
                            <p class="telefone"><strong>Telefone:</strong> {{ cliente.telefonePrincipal }}</p>
                        </div>
                    </div>
                    <div class="buttonWrapper">
                        <button class="btn btn-danger" (click)="deleteCliente(cliente.id)">Delete</button>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
    </div>
